@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
   margin-top: 0;
   font-family: "Roboto", sans-serif;
   overflow-x: hidden;

   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

#landingVideo {
   position: absolute;
   right: 0;
   top: 0;
   min-width: 100%;
   min-height: 100%;
   z-index: -1;
   object-fit: cover;
}
.landing-section {
   margin-top: 0;
   height: 100vh;
   width: 100%;
   .nav {
      position: absolute;
      top: 30px;
      right: 20px;

      width: 50%;

      display: flex;
      justify-content: space-evenly;

      a {
         color: rgb(37, 73, 75);
         text-decoration: none;
         font-weight: 600;
         font-size: 18pt;
      }
   }
   .arrow {
      width: 100%;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 35px;
   }
   .main-header {
      position: absolute;
      top: 40vh;
      left: 40px;
      h1 {
         font-size: 90pt;
         color: white;
         font-family: "Roboto Slab";
      }
   }
}
.second-section {
   margin-top: 300px;
   .content {
      text-align: center;
      margin: 0 auto;
      margin-top: 100px;
      width: 70%;
      h4 {
         color: rgb(74, 191, 230);
         font-size: 20pt;
      }
      h1 {
         font-family: "Roboto Slab";
         font-size: 50pt;
      }
      p {
         line-height: 150%;
         font-size: 16pt;
      }
   }
   .cards {
      display: grid;
      margin: 0 auto;
      width: 80%;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-column-gap: 30px;
      grid-row-gap: 50px;
      .card {
         text-align: center;
         padding-bottom: 20px;
         box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);
         background-color: white;
         img {
            width: 100%;
            object-fit: cover;
         }
         a {
            background-color: rgb(74, 191, 230);
            padding: 10px;
            text-decoration: none;
            border-radius: 10px;
            color: white;
         }
      }
   }
}
.large-section {
   .iframe {
      margin-top: 40px;
   }
   .content {
      text-align: center;
      margin: 0 auto;
      margin-top: 100px;
      width: 70%;
      h4 {
         color: rgb(74, 191, 230);
         font-size: 20pt;
      }
      h1 {
         font-family: "Roboto Slab";
         font-size: 50pt;
      }
      .video {
         video {
            width: 90%;
         }
      }
   }
}
.footer {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: black;
   color: white;
   height: 60px;
   margin-top: 70px;
   .right {
      display: flex;
      justify-content: space-around;
      width: 170px;
   }
}
@media only screen and (max-width: 1200px) {
   .landing-section {
      .nav {
         width: 60%;
      }
      .main-header {
         h1 {
            font-size: 70pt;
         }
      }
   }
}
@media only screen and (max-width: 1000px) {
   .landing-section {
      .nav {
         width: 80%;
      }
   }
}
@media only screen and (max-width: 900px) {
   .landing-section {
      .nav {
         width: 80%;
      }
      .main-header {
         h1 {
            font-size: 60pt;
         }
      }
   }
}
@media only screen and (max-width: 650px) {
   .landing-section {
      .main-header {
         h1 {
            font-size: 50pt;
         }
      }
   }
}
@media only screen and (max-width: 750px) {
   .second-section,
   .landing-section,
   .large-section {
      .content {
         width: 90%;
         h4 {
            color: rgb(74, 191, 230);
            font-size: 20pt;
         }
         h1 {
            font-family: "Roboto Slab";
            font-size: 50pt;
         }
      }
   }
   .footer {
      flex-direction: column;
      height: 100px;
   }
   .nav {
      flex-direction: column;
      position: relative;
      left: 20px;
   }
   .landing-section {
      .arrow {
         top: 110vh;
      }
   }
}
